#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	$(RM) -rf build node_modules

override_dh_auto_build:
	npm install
	./node_modules/.bin/webpack
	npm prune --production
	chmod a+x webthings-gateway
